<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css" />
    <title>PYMES registration</title>
</head>
<body>
    <div>
        <h2>Register</h2>
        <form id="registerForm">
            <label for="username">Username:</label>
            <input id="username" type="text" placeholder="Choose a username" required />
            <button type="submit" id="submitBtn">Register</button>
        </form>
    </div>
    <script src="/static/reg.js"></script>
</body>
</html>